@{
  ViewBag.Title = "Lucas Belinelli Pereira";
}
<form class="ui form error">
    <div class="estilo">
        <div class="ui equal width form" >
            <div class="fields">
                <div class="field">
                <label>Nome</label>
                <input id="nome" data-validate="ativo" type="text" placeholder="Username" onblur="escreva()">
                </div>

                <div class="field">
                <label>E-mail</label>
                <input id="email" data-validate="email" type="email" placeholder="joe@schmoe.com" onblur="escreva()">
                </div>

                <div class="field">
                <label>Telefone</label>
                <input class="masked mask_phone" id="tell" data-validate="ativo3" placeholder="telefone" onblur="escreva()">
                </div>
            </div>
        
            <div class="field">
                <label>Assunto</label>
                <input id="ass" data-validate="ativo4" onblur="escreva()">
            </div>
            <div class="field">
                <label>Mensagem</label>
                <textarea id="msg" data-validate="ativo5" onblur="escreva()"></textarea>
            </div>

            
            
            <div class="ui submit button" id='salvar' onclick="session()">Enviar</div>
            <div class="ui error message"></div>
            
        </div>
    </div>
</form>

<div class="estilo" styles="float: left; width: 50%">
    <h1>Nome:</h1>
    <p id="id-nome"></p>
    
    <h1>E-mail:</h1>
    <p id="id-email"></p>

    <h1>Telefone:</h1>
    <p id="id-tell"></p>

    <h1>Assunto:</h1>
    <p id="id-ass"></p>

    <h1>Mensagem:</h1>
    <p id="id-msg"></p>

    <h1>sessionStorage ativo</h1>
  
</div>

</div>

  
